 .card-app-design {

 
  /* center the card horizontally */
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.5rem;
  overflow: hidden;
}

.event-card-img {
  object-fit: cover;
  width: 30%;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}

.event-card-reviews-title {
  margin-top: 0;
}

.event-card-reviews-text {
  margin-bottom: 0;
}

.event-card-reviews-list {
  list-style-type: none;
  padding: 0;
}

.event-card-review {
  margin-bottom: 1rem;
}

.event-card-review-text {
  margin-bottom: 0.25rem;
}

.event-card-review-form {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.design-group {
  flex-grow: 1;
  margin-left: 1rem;
}

.section-label {
  margin-top: 0;
  margin-bottom: 0.25rem;
  font-size: 1rem;
}

.pt-25 {
  padding-top: 0.25rem;
}

.pt-50 {
  padding-top: 0.5rem;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.font-small-2 {
  font-size: 0.875rem;
}