

.books_page {
    .content-body {
        margin-left: 0 !important;
    }
    .grid-view {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 8px ;
        margin-top: 40px;
    }
    [dir] .card {
        margin-bottom: 2rem;
        box-shadow: 0 4px 24px 0 rgba(34, 41, 47, 0.1);
        width: 100% !important;
        
    }
    .card .card-img {
        object-fit: cover;
        width: 100%;
        height: 100% !important;
    }
    .card-header {
        height: 50px;
        overflow: hidden;
    }
    .card-desc {
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2; /* number of lines to show */
                line-clamp: 2; 
        -webkit-box-orient: vertical;
    }


.card--2 .card__img, .card--2 .card__img--hover {
    background-image: url('https://images.pexels.com/photos/307008/pexels-photo-307008.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260');
}

.card__like {
    width: 18px;
}

.card__clock {
    width: 15px;
  vertical-align: middle;
    fill: #AD7D52;
}
.card__time {
    font-size: 12px;
    color: #AD7D52;
    vertical-align: middle;
    margin-left: 5px;
    a {
        color: #AD7D52;   
    }
}

.card__clock-info {
    float: right;
}

.card__img {
  visibility: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 400px;
  border-top-left-radius: 12px;
border-top-right-radius: 12px;
  
}

.card__info-hover {
    position: absolute;
    padding: 16px;
  width: 100%;
  opacity: 0;
  top: 0;

}

.card__img--hover {
  transition: 0.2s all ease-out;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
  position: absolute;
    height: 400px;
  border-top-left-radius: 12px;
border-top-right-radius: 12px;
top: 0;
  
}
.card {
  transition: all .4s cubic-bezier(0.175, 0.885, 0, 1);
  background-color: #fff;
    width: 80%;
  position: relative;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0px 13px 10px -7px rgba(0, 0, 0,0.1);
  display: flex;
    height: 85%;
    justify-content: space-between;
}
.card:hover {
  box-shadow: 0px 30px 18px -8px rgba(0, 0, 0,0.1);
    transform: scale(1.10, 1.10);
    .card__description {
        display: -webkit-box;

       }
}

.card__info {
z-index: 2;
  background-color: #fff;
  border-bottom-left-radius: 12px;
border-bottom-right-radius: 12px;
   padding: 16px 24px 24px 24px;
   .card__description {
    display: none;
    overflow: hidden;
    -webkit-line-clamp: 3; /* number of lines to show */
            line-clamp: 3; 
    -webkit-box-orient: vertical;
   }
}

.card__category {
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 2px;
    font-weight: 500;
  color: #868686;
}

.card__title {
    margin-top: 5px;
    margin-bottom: 10px;
}

.card__by {
    font-size: 12px;
    font-weight: 500;
}

.card__author {
    font-weight: 600;
    text-decoration: none;
    color: #AD7D52;
}

.card:hover .card__img--hover {
    height: 100%;
    opacity: 0.1;
}

.card:hover .card__info {
    background-color: transparent;
    position: relative;
}

.card:hover .card__info-hover {
    opacity: 1;
}



}
$size: 100px;
$primary: #f5821f;
$secondary: #d8d8d8;
.modalSearchVoice {
  text-align: center;
  padding: 20px 15px;
  .btn {
    border: none;
    padding: 0;
    border-radius: 100%;
    width: $size;
    height: $size;
    font-size: 3em;
    color: #fff;
    padding: 0;
    margin: 0;
    background: red;
    position: relative;
    z-index: 999;
    display: inline-block;
      line-height: $size;
      text-align: center;
      white-space: nowrap;
      vertical-align: middle;
      -ms-touch-action: manipulation;
      touch-action: manipulation;
      cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      background-image: none;
  }
  
  .pulse-ring {
    content: '';
    width: $size;
    height: $size;
    background: $primary;
    border: 5px solid $primary;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    //animation: pulsate infinite 1.5s;
  }
  .isListening {
      animation: animationFrames infinite 1.5s;
  }
  
  .pulse-ring.delay{
    // animation-delay: 1s;
  }

  
  .type2{
    background: $primary;
  }
  
  .type2 .pulse-ring{
    background: transparent;
  }
}

@keyframes animationFrames {
  0% {
    -webkit-transform: scale(1, 1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1.3, 1.3);
    opacity: 0;
  }
}

@-moz-keyframes animationFrames {
  0% {
    -webkit-transform: scale(1, 1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1.3, 1.3);
    opacity: 0;
  }
}

@-webkit-keyframes animationFrames {
  0% {
    -webkit-transform: scale(1, 1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1.3, 1.3);
    opacity: 0;
  }
}

@-o-keyframes animationFrames {
  0% {
    -webkit-transform: scale(1, 1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1.3, 1.3);
    opacity: 0;
  }
}

@-ms-keyframes animationFrames {
  0% {
    -webkit-transform: scale(1, 1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1.3, 1.3);
    opacity: 0;
  }
}


